<div class="mat-elevation-z8 row col-md-12 m-0 bg-white">
    <table mat-table [dataSource]="dataSource" matSort class="col-md-12 p-0">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef > </th>
            <td mat-cell *matCellDef="let element">{{element.index}}</td>
        </ng-container>
        <ng-container matColumnDef="locationname" (click)='delete(null)'>
            <th mat-header-cell *matHeaderCellDef> Location Name </th>
            <td mat-cell *matCellDef="let element">{{element.locationname}}</td>
        </ng-container>
        <ng-container matColumnDef="addressmain">
            <th mat-header-cell *matHeaderCellDef> Address</th>
            <td mat-cell *matCellDef="let element">{{element.addressmain}}</td>
        </ng-container>
        <ng-container matColumnDef="mobilenumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No.</th>
            <td mat-cell *matCellDef="let element">{{element.mobilenumber}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)='edit(row)'><mat-icon style="color:orange">edit</mat-icon></button>
                <button mat-icon-button (click)='delete(row)'><mat-icon style="color:red">delete</mat-icon></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="col-md-8 mt-1 p-0" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>