<div class="row col-md-12 p-0 m-0">
    <p class="col-md-12 p-0" color="primary">Facility Times</p>
    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-1"></div>
        <div class="col-md-4 pl-4 pr-0">From</div>
        <div class="col-md-4 pl-0">To</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row col-md-12 p-0 m-0 mt-1 mb-2" *ngFor="let day of schedular">
        <div class="col-md-1 mt-2 pl-0">
            <section class="example-section"><mat-checkbox class="example-margin" disableRipple=true (change)="selectedSchedulars(day.index, $event.checked)">{{day.freq}}</mat-checkbox></section>
        </div>
        <div class="col-md-4 pl-4 pr-0">
            <span class="timer"><input type="time" min="00:00" max="12:00" [(ngModel)]="day.from" (focusout)="setTwelveHourFormat(day, 'from')" /></span>
            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" value="AM">
                <mat-button-toggle value="AM">AM</mat-button-toggle>
                <mat-button-toggle value="PM" disabled>PM</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="col-md-4 pl-0">
            <span class="timer"><input type="time" min="00:00" max="12:00" [(ngModel)]="day.to" (focusout)="setTwelveHourFormat(day, 'to')" /></span>
            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" value="PM">
                <mat-button-toggle value="AM" disabled>AM</mat-button-toggle>
                <mat-button-toggle value="PM">PM</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="col-md-3"><button mat-stroked-button (click)="checkAll(day)">Apply to All checked</button></div>
    </div>
    <br />
    <div class="col-md-12 text-right pl-0">
        <button mat-flat-button class="m-1" (click)="checkSchedular('cancel')" color="warn">Cancel</button>
        <button mat-flat-button class="m-1" (click)="checkSchedular('save')" style="margin-right: 0 !important;" color="primary">Save</button>
    </div>
</div>